* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 30px;
  margin-left: 20px;
}

.logo h1 {
  color: #fff;
  font-weight: 600;
}

ul {
  display: flex;
  font-size: 24px;
  gap: 30px;
}
ul li {
  align-items: center;
  padding-top: 30px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.search {
  padding-right: 30px;
  margin-right: 20px;
  padding-top: 30px;
}

.search input {
  border-radius: 30px;
  border: none;
  width: 250px;
  height: 30px;
  padding: 20px;
}

.search input::placeholder {
  text-align: center;
}
